<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.exemplo1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Teste"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Exemplo1">
        <activity
            android:name=".ActivityTesteNivel"
            android:exported="false" />
        <activity
            android:name=".ActivityCadastro"
            android:exported="false" />
        <activity
            android:name=".ActivityNivel"
            android:exported="false" />
        <activity
            android:name=".ActivityQuestoes"
            android:exported="false" />
        <activity
            android:name=".ActivitySegundaRedefinir"
            android:exported="false" />
        <activity
            android:name=".ActivityRedefinir"
            android:exported="false" />
        <activity
            android:name=".ActivityIniciarTeste"
            android:exported="false" />
        <activity
            android:name=".ActivityLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivitySplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>